$color: black;
$Bcolor: white;
// html {
//     scroll-behavior: smooth;
// }

div.module *,
div.module *::before,
div.module *::after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

label.parcel,
div.module,
label.card {
    display: inline-flex;
    border: 1px solid rgba($color, 0.15);
    padding: 10px;
    flex-direction: row;
    border-radius: 5px;
    margin: 20px;

    justify-content: center;
    align-items: center;
    width: 180px;
    height: 50px;
    font-family: Arial;
    letter-spacing: 1px;
    user-select: none;
    color: rgba($color, 0.5);
    flex-wrap: wrap;
    transition: all 0.15s ease-in-out, color 0.2s, width 0.5s ease-out;
    text-align: center;

    cursor: pointer;

    img {
        transition: all 0.5s;
        max-height: 30px;
        max-width: 36px;
    }
    span {
        transition: all 0.5s;
        margin: 0 10px 0 10px;
        font-size: 14px;
    }
    input {
        appearance: none;
    }

    &.active,
    &:hover {
        color: rgba($color, 0.6);
        box-shadow: 0 0 18px 0px rgba($color, 0.3);
    }
    &.active {
        color: $color;
        box-shadow: 0 0 18px 0px rgba($color, 0.5);
    }
    &:active {
        color: rgba($color, 0.8);
        box-shadow: 0 0 1px 0px rgba($color, 01);
    }
    div.cards {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        &.hide {
            label.card {
                &.active {
                    img {
                        max-height: 30px;
                        max-width: 40px;
                    }
                    span {
                        font-size: 16;
                    }
                }
                &:not(.active) {
                    width: 100px;
                    border: 0;
                    flex-direction: column;
                    flex-wrap: nowrap;

                    &:hover {
                        box-shadow: none;
                    }
                    img {
                        max-height: 35px;
                        max-width: 36px;
                    }
                    span {
                        margin-top: 5px;
                    }
                }
            }
        }
    }
}
div.module {
    width: auto;
    height: auto;
    overflow: visible;
    flex-direction: column;
    cursor: default;
    position: relative;

    & > span {
        font-size: 20px;
    }
    &.active,
    &:hover {
        color: rgba($color, 0.6);
        box-shadow: 0 0 20px 5px rgba($color, 0.5);
    }
    &.active {
        color: $color;
        box-shadow: 0 0 20px 5px rgba($color, 0.7);
    }
    &:active {
        color: rgba($color, 0.8);
        // border-color: rgba($color, 0.6);
        box-shadow: 0 0 15px 1px rgba($color, 0.5);
    }

    div.message {
        height: 18px;
        font-size: 16px;
        font-weight: bold;
        position: relative;
        top: 5px;
        margin-bottom: -5px;
        transition: all 0.5s;

        &.hide {
            opacity: 0;
            transform: translateY(-100%);
        }
    }
}

div.method {
    overflow: hidden;
    transition: all 1s;
    margin-top: 10px;
    max-height: 1256px;

    & > div {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        margin-top: 20px;

        & > span {
            font-size: 20px;
        }
    }
    &.hidden {
        max-height: 0;
    }
}

body {
    background-color: $Bcolor;
}
